<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="chat.css">
    <title>Chat</title>
</head>
<body>
    <div class="head">
        <h1>Deep Kreis</h1>
    </div>
    
    <div class="nav">
        <a href="/"><li>Posts</li></a>
        <a href="/chat"><li>Chat</li></a>
        <a href="/post"><li>Create</li></a>
        <a href="/community"><li>Community</li></a>
        <a href="/profile"><li>Profile</li></a>
    </div>

    <div class="container">
        <h1 class="title">Connect with people on the same journey as you!!</h1>

        <div class="chats">
            <div class="user">
                <img src="./Alika.jpeg" alt="no">
                <p>Mike Tyson</p>
                <div class="active"></div>
            </div>
            <div class="user">
                <img src="./Alika.jpeg" alt="no">
                <p>Mike Tyson</p>
            </div>
            <div class="user">
                <img src="./Alika.jpeg" alt="no">
                <p>Mike Tyson</p>
            </div>
            <div class="user">
                <img src="./Alika.jpeg" alt="no">
                <p>Mike Tyson</p>
                <div class="active"></div>
            </div>
            <div class="user">
                <img src="./Alika.jpeg" alt="no">
                <p>Mike Tyson</p>
            </div>
            <div class="user">
                <img src="./Alika.jpeg" alt="no">
                <p>Mike Tyson</p>
                <div class="active"></div>
            </div>
            <div class="user">
                <img src="./Alika.jpeg" alt="no">
                <p>Mike Tyson</p>
                <div class="active"></div>
            </div>
            <div class="user">
                <img src="./Alika.jpeg" alt="no">
                <p>Mike Tyson</p>
            </div>
            <div class="user">
                <img src="./Alika.jpeg" alt="no">
                <p>Mike Tyson</p>
                <div class="active"></div>
            </div>
            <div class="user">
                <img src="./Alika.jpeg" alt="no">
                <p>Mike Tyson</p>
            </div>
            <div class="user">
                <img src="./Alika.jpeg" alt="no">
                <p>Mike Tyson</p>
                <div class="active"></div>
            </div>
        </div>

            

        
    </div>

</body>
</html>