*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.head{
    background-color: rgb(21, 21, 21); 
    color: rgb(215, 215, 215);
    height: 40px;
    position: fixed;
    width: 100%;
    top: 0;
}
.head h1{
    margin-left: 10%;
    padding-top: 5px;
}
.nav{
    background-color: rgb(21, 21, 21); 
    display: flex;
    width: 100%;
    justify-content: center;
    list-style: none;
    padding-bottom: 10px;
    position: fixed;
    top: 40px;
    
}
.nav a {
    color: rgb(17, 243, 17);
    margin-left: 20px;
    margin-right: 20px;
    padding: 4px 2px 4px 2px;
    text-decoration: none;
}
.nav a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 243, 17);
    text-decoration: underline;
}

.container{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(14, 14, 14);
}

.posts{
    background-color: rgb(20, 20, 20);
    padding-top: 20px;
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.post{
    width: 650px;
    background-color: rgb(16, 16, 16);
    padding: 10px;
    color: white;
    margin-bottom: 30px;
    border-radius: 2px;
}
.user{
    display: flex;
    position: relative;
}
.user img{
    width: 35px;
    height: 35px;
    margin-right: 5px;
    object-fit: cover;
    border-radius: 50%;
}
.postDate{
    position: absolute;
    left: 40px;
    top: 20px;
    font-size: 12px;
    color: rgb(212, 212, 212);
}
.content{
    margin-top: 10px;
    margin-bottom: 10px;
    /* display: flex; */
}
.content img {
    margin-top: 10px;
    width: 100%;
}
.reaction{
    display: flex;
    justify-content: center;
}
.reaction p {
    padding: 3px 5px 3px 5px;
    margin: 2px;
    width: 100px;
    text-align: center;
    background-color: rgb(17, 243, 17);
    cursor: pointer;
    border-radius: 2px;
    font-size: 14px;
}
.reaction p:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.addcomment{
    /* background-color: aqua; */
    width: 99%;
    margin-top: 10px;
}
.addcomment input{
    width: 100%;
    height: 30px;
    border: none;
    padding: 2px;
    outline-color: rgb(17, 243, 17);
    border-radius: 5px;
    background-color: rgb(42, 42, 42);
    color: white;
}
/* .addcomment input::placeholder{
    color: rgb(25, 0, 255);
} */

.comments{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    background-color: rgb(28, 28, 28);
    /* visibility: hidden; */
    display: none;
    transition: 1s;
    overflow-y: scroll;
    padding: 5px;
}

#close{
    background-color: rgb(17, 243, 17);
    width: 35px;
    padding: 2px;
    right: 0;
    left: auto;
    cursor: pointer;
    margin-bottom: 5px;
}
#close:hover{
    background-color: white;
    color: black;
}
.active{    
    display: block;
}


.commentWrap{
    /* background-color: rgb(0, 62, 62); */
    padding: 3px;
    padding-left: 10px;
    padding-bottom: 10px;
}
.usercom{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.usercom div{
    display: flex;
}
.usercom img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}
.usercom p{
    font-size: 12px;

    color: rgb(188, 188, 188);
    margin-right: 5px;
}

.msg{
    font-size: 14px;
    color: rgb(234, 234, 234);
    overflow-x: hidden;
}

.comments::-webkit-scrollbar{
    width: 4px;
}
.comments::-webkit-scrollbar-thumb{
    background-color: rgb(17, 243, 17);
    
}
.comments::-webkit-scrollbar-track{
    background-color: rgb(118, 118, 118);
}
.comments::-webkit-scrollbar-corner{
    border-radius: 20px;
}


.addcomment{
    position: relative;
}
.addComment{
    position: absolute;
    right: 0;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;
}
.addComment span{
    color: rgb(17, 243, 17);
}
.addComment span:hover{
    color: rgb(255, 255, 255);
}

.error::placeholder{
    color: red;
}















.loading{
    height: 50px;
}


svg{
    position: relative;
    width: 40px;
    height: 40px;
    animation: rotate 4s linear infinite;
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 2;
    stroke: rgb(17, 243, 17);
    stroke-linecap: round;
    transform: translate(5px, 5px);
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%,100%{
        stroke-dashoffset: 200;
    }
    50%{
        stroke-dashoffset: 0;
    }
    50.1%{
        stroke-dashoffset: 400;
    }
}
















@media (max-width: 670px){
    .head{
        background-color: rgb(21, 21, 21); 
        color: rgb(215, 215, 215);
        height: 40px;
        position: fixed;
        width: 100%;
        top: 0;
    }
    .head h1{
        margin-left: 10%;
        padding-top: 5px;
        font-size: 25px;
    }
    .nav{
        background-color: rgb(21, 21, 21); 
        display: flex;
        width: 100%;
        justify-content: center;
        list-style: none;
        padding-bottom: 10px;
        position: fixed;
        top: 40px;
    }
    .nav a {
        color: rgb(17, 243, 17);
        margin-left: 6px;
        margin-right: 6px;
        padding: 4px 2px 4px 2px;
        text-decoration: none;
        font-size: 15px;
    }
    .posts{
        padding-top: 20px;
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 590px;
        background-color: rgb(16, 16, 16);
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
    .user img{
        width: 50px;
        height: 50px;
        margin-right: 5px;
        object-fit: cover;
        border-radius: 50%;
    }
    .username{
        margin-top: 3px;
        font-size: 18px;
    }
    .postDate{
        position: absolute;
        left: 55px;
        top: 25px;
        font-size: 14px;
    }
    .content{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 18px;
    }
    .msg{
        font-size: 15px;
        color: rgb(234, 234, 234);
        overflow-x: hidden;
    }
    .comments{
        width: 97%;
        height: 300px;
    }
    .addcomment input{
        width: 100%;
        height: 40px;
        border: none;
        padding: 2px;
        outline-color: rgb(17, 243, 17);
        border-radius: 5px;
        background-color: rgb(42, 42, 42);
        color: white;
    }
    .addComment{
        position: absolute;
        right: 0;
        top: 10px;
        background: none;
        border: none;
        cursor: pointer;
    }
@media (max-width: 600px){
    .posts{
        padding-top: 20px;
        width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 590px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 590px){
    .posts{
        padding-top: 20px;
        width: 590px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 580px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 580px){
    .posts{
        padding-top: 20px;
        width: 580px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 570px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 570px){
    .posts{
        padding-top: 20px;
        width: 570px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 560px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 560px){
    .posts{
        padding-top: 20px;
        width: 560px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 550px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 550px){
    .posts{
        padding-top: 20px;
        width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 540px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 540px){
    .posts{
        padding-top: 20px;
        width: 540px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 530px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 530px){
    .posts{
        padding-top: 20px;
        width: 530px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 520px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 520px){
    .posts{
        padding-top: 20px;
        width: 520px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 510px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 510px){
    .posts{
        padding-top: 20px;
        width: 510px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 500px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 500px){
    .posts{
        padding-top: 20px;
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 490px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 490px){
    .posts{
        padding-top: 20px;
        width: 490px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 480px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 480px){
    .posts{
        padding-top: 20px;
        width: 480px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 470px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 470px){
    .posts{
        padding-top: 20px;
        width: 470px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 460px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 460px){
    .posts{
        padding-top: 20px;
        width: 460px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 450px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 450px){
    .posts{
        padding-top: 20px;
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 440px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 440px){
    .posts{
        padding-top: 20px;
        width: 440px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 430px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 430px){
    .posts{
        padding-top: 20px;
        width: 430px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 420px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 420px){
    .posts{
        padding-top: 20px;
        width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 410px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 410px){
    .posts{
        padding-top: 20px;
        width: 410px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 400px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 400px){
    .posts{
        padding-top: 20px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 390px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 390px){
    .posts{
        padding-top: 20px;
        width: 390px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 380px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 380px){
    .posts{
        padding-top: 20px;
        width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 370px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 370px){
    .posts{
        padding-top: 20px;
        width: 370px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 360px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 360px){
    .posts{
        padding-top: 20px;
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 350px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 350px){
    .posts{
        padding-top: 20px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 340px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 340px){
    .posts{
        padding-top: 20px;
        width: 340px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 330px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 330px){
    .posts{
        padding-top: 20px;
        width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 320px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
@media (max-width: 320px){
    .posts{
        padding-top: 20px;
        width: 320px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 310px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
} 
@media (max-width: 310px){
    .nav a {
        color: rgb(17, 243, 17);
        margin-left: 6px;
        margin-right: 6px;
        padding: 4px 2px 4px 2px;
        text-decoration: none;
        font-size: 13px;
    }
    .posts{
        padding-top: 20px;
        width: 310px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 300px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
} 
@media (max-width: 300px){
    .posts{
        padding-top: 20px;
        width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 290px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
} 
@media (max-width: 290px){
    .posts{
        padding-top: 20px;
        width: 290px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 280px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }
} 
@media (max-width: 280px){
    .posts{
        padding-top: 20px;
        width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .post{
        width: 270px;
        padding: 2px;
        color: white;
        margin-bottom: 15px;
        border-radius: 2px;
    }    
}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}