<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./signin.css">
    <link rel="icon" type="image/x-icon" href="./deepkreis-logo.png">
    <title>Sign in</title>
</head>
<body>

    <div class="head">
        <h1>Deep Kreis</h1>
    </div>

    <div class="container">

        <h1>Welcome to Deep Kreis</h1>
        <p class="introText">In this platform your way of communicating will change compared to other social media when you leave our website your brain will be filled with something valuable unlike scrolling nonesense on tiktok, you gain value from other warriors such yourself and provide value to our community
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime deserunt, blanditiis iure obcaecati minima exercitationem possimus hic consectetur, facere excepturi quae non quas laudantium eveniet dolor ipsa aut quos ipsam?</p>

        <h2>Join Now!!</h2>

        <div class="signinBox">
            <h1>SIGN IN</h1>

            <a href="<%= URL %>">
                <img src="./google.svg" alt="">
                <p>Signin With Google</p>
            </a>
        </div>
        
        <!-- <p><%= URL %></p> -->
    </div>
    
</body>
</html>